.shorts-content-container,
.reactions,
.react-container,
.reactions button,
.section-scroll {
  display: flex;
}

main {
  padding: 0;
}

.shorts-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  height: 90vh;
  width: 100vw;
}

.shorts-content-container {
  padding-top: 25px;
  justify-content: center;
  gap: 25px;
  height: 90vh;
  scroll-snap-align: start end;
}

.reactions {
  flex-direction: column;
  padding-top: 150px;
  gap: 15px;
}

.reactions img {
  border-radius: 10px;
}

.reactions button {
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 0 solid;
  border-radius: 50%;
  padding: 10px;
  background-color: #222222;
  color: #fff;
}

.reactions button:hover {
  cursor: pointer;
  background-color: #3f3f3f;
}

.react-container {
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.fa-ellipsis {
  background-color: transparent;
}

.like.active,
.dislike.active {
  background-color: #fff;
  color: #222222;
}

.like.active:hover,
.dislike.active:hover {
  background-color: #eeebeb;
}

@media screen and (min-width: 1400px) {
  .container {
    grid-template-rows: 60px 1fr;
    grid-template-areas:
      "header header"
      "aside main";
  }
  .shorts-container {
    width: 100%;
  }
}
